/*Active tab on the navigation bars - Footer and Header */
.active{
    background-color:#D5D5D5;
}

.active-footer{
    background-color:#525252;
}
/* Pun input styles */

.pun-input{
  padding-top:45px;
}

/* Pun input styles */

.pun-input input, .pun-input button{
  font-size:20px;
}
.pun-input button{
  width:230px;
}
.pun-input input{
  margin-bottom:20px;
}

/* Image hover effects */
img.grayscale{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}

img.grayscale:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}


/*Tablet Devices */
 @media (max-width : 768px) {
  img.grayscale{
    filter: none;
    -webkit-filter: none;  /* For Webkit browsers */
  }
}