/* Normalisation */
p{
  margin:0;
}

a{
  color:#333;
}
a:hover{
  text-decoration:none;
  color:#666;
}
a:focus{
  color:#888;
}

/*Initial things*/
.content, .page-content{
  max-width:960px;
  width:100%;

}

.page-content div{
  max-width:660px;
  margin:auto;
}

hr{
  border-top:1px solid #ddd;
}

/* Global font styles */
.logo h1{
  font-family:'Arizonia', cursive;
  font-size:82px;
}

.logo h3, p, input, button, .navbar-nav a{
  font-family:'Open Sans', sans-serif;
}

.logo h3, p, .navbar-nav a {
  font-size:18px;
}

.navbar-nav a{
  color:black;
}

/*==================================================
 * Main/Global styles
 * ===============================================*/
 
 
 
/*==================================================
 * Navigation Bar Styles
 * ===============================================*/



/* Active Styling */

/*Active tab on the navigation bars - Footer and Header */
.active{
    background-color:#D5D5D5;
}

.active-footer{
    background-color:#525252;
}


.logo{
  padding-bottom:20px;
}


/* Dropshadow stylings for the header */

.header-dropshadow
{
    box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
}

/* Horizontal Rules styles for the navbar */
nav hr {
    margin-left:auto;
    margin-right:auto;
    margin-top:26px;
    width:20%;
    border-top:1px solid #bbb;

}

.left {
    float:left;
}

.right {
    float:right;
}


/* Styles for the dropdown nav bar links */


  #nav > a
  {
    display: none;
  }

  #nav li
  {
    position: relative;
  }
    #nav li a
    {

      display: block;
    }
    #nav li a:active
    {
      background-color: #ddd !important;
    }

    /* Drop-down items */

    #nav li ul, #third-dropdown
    {
      display: none;
    }
      #nav li:hover ul, #nav li ul li:hover #third-dropdown
      {
        display: block;
       
    }
    
/* Nav bar text styles */

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

ul{
  list-style:none;
}

.navbar{
  text-align: center;
}

.header{
  background-color:#f5f5f5;
}



/*==================================================
 * Main Page styles
 * ===============================================*/

/* Horizontal Rules */
.hr-fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* Headings styles */

.page-content h2{
  font-size:48px;
  font-variant:small-caps;
}


/* Footer styles */

footer{
  background-color:#28292b;
  margin-top:40px;
}

#footer-links:hover{
  background-color:#777;
}

#footer-links:focus{
  background-color:#999;
}


footer .navbar-nav a, footer p{
  color:white;
}

footer .navbar-nav a{
  font-family:'Open Sans', sans-serif;
  font-size:20px;
}

footer ul{
  padding:10px 0;
}

/* Pop-up styling */
.popup {
      -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible .popup {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}