/* Normalisation */
p{
  margin:0;
}

a{
  color:#333;
}
a:hover{
  text-decoration:none;
  color:#666;
}
a:focus{
  color:#888;
}
/*Initial things*/
.content, .page-content{
  max-width:960px;
  width:100%;

}

.page-content div{
  max-width:660px;
  margin:auto;
}

hr{
  border-top:1px solid #ddd;
}

/* Global font styles */
.logo h1{
  font-family:'Arizonia', cursive;
  font-size:82px;
}

.logo h3, p, input, button, .navbar-nav a{
  font-family:'Open Sans', sans-serif;
}

.logo h3, p, .navbar-nav a {
  font-size:18px;
}

.navbar-nav a{
  color:black;
}

/* Navigation Bar styles */

.logo{
  padding-bottom:20px;
}


/*==================================================
 * Drop shadow for the header/navigation
 * ===============================================*/
.header-dropshadow
{
    box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
}

/* Horizontal Rules styles for the navbar */
nav hr {
    margin-left:auto;
    margin-right:auto;
    margin-top:26px;
    width:30%;
    border-top:1px solid #bbb;

}

.left {
    float:left;
}

.right {
    float:right;
}




/* Horizontal Rules */
.hr-fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Styles for the navigation bar, adding in the dropdown menus */


  #nav > a
  {
    display: none;
  }

  #nav li
  {
    position: relative;
  }
    #nav li a
    {

      display: block;
    }
    #nav li a:active
    {
      background-color: #ddd !important;
    }



  /* first level */



    /* second level */

    #nav li ul
    {
      display: none;
    }
      #nav li:hover ul
      {
        display: block;
        left: 0;
        right: 0;
      }

/* third level */
#third-dropdown{
  display: none;
}
  #nav li ul li:hover #third-dropdown
  {
    display: block;
    left: 0;
    right: 0;
  }

/* Nav bar text styles */


.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
ul{
  list-style:none;
}

.navbar{
  text-align: center;
}

/*background colour gray
  put in a drop shadow
*/
.header{
  background-color:#f5f5f5;
}



/* Main Page Content */

/* Header/link styles */

.page-content h2{
  font-size:48px;
  font-variant:small-caps;
}




/* Footer styles */

footer{
  background-color:#28292b;
  margin-top:15px;
}

#footer-links:hover{
  background-color:#777;
}

#footer-links:focus{
  background-color:#999;
}


footer .navbar-nav a, footer p{
  color:white;
}

footer .navbar-nav a{
  font-family:'Open Sans', sans-serif;
  font-size:20px;
}

footer ul{
  padding:10px 0;
}


